@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.bg-gray {
  background-color: #e9e9e9;
}

body {
  padding: 0;
  margin: 0;
}

.main_nav {
  margin-left: 51px;
  margin-top: 33px;
}
.main_nav .active {
  color: #1ca8c3;
}
.main_nav a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.main_logo {
  top: 38px;
  position: absolute;
  left: 147px;
}
.main_header_content {
  margin-left: 67px;
  margin-top: 161px;
  margin-bottom: 201px;
}
.main_header_content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
}
.main_header_text {
  font-family: "Nunito Sans", sans-serif;
  color: #787878;
  font-size: 18px;
  margin-top: 25px;
  margin-left: 5px;
  letter-spacing: 0.1px;
}
.main_header_text p {
  margin: 0;
}
.main_btn {
  margin-top: 36px;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  border: 0px;
  background-color: #10c9c3;
  width: 180px;
  height: 54px;
}
.main_about {
  padding-top: 89px;
  padding-bottom: 100px;
}
.main_about_head {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  letter-spacing: -0.6px;
  padding-bottom: 18px;
}
.main_about_text {
  color: #787878;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.1px;
}
.main_about_signa {
  margin-top: 33px;
}
.main_skills_head {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  letter-spacing: -0.5px;
  padding-bottom: 22px;
}
.main_skills_label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-bottom: 17px;
  letter-spacing: 0.8px;
}
.main_skills_lside {
  padding-bottom: 164px;
  padding-top: 167px;
  padding-left: 147px;
  padding-right: 84px;
  background-color: #f8f9f9;
}
.main_skills_rside {
  background-color: #e9e9e9;
}
.main_skills_progress {
  height: 3px;
  margin-bottom: 39px;
  border-radius: 0;
}
.main_skills_progress div {
  background-color: #10c9c3;
}
.main_stats {
  padding: 100px 0px;
  background-color: #10c9c3;
}
.main_stats span {
  font-size: 48px;
  color: #fff;
}
.main_stats_block {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.main_stats_block div {
  margin-left: 22px;
}
.main_stats_block div h6 {
  font-size: 18px;
}
.main_stats_block div p {
  font-size: 12px;
  letter-spacing: 0.9px;
}
.main_photos div:first-child {
  height: 300px;
}
.main_photos div:first-child div:nth-child(even) {
  background-color: #dddddd;
}
.main_photos div:first-child div:nth-child(odd) {
  background-color: #838383;
}
.main_photos div:nth-child(2) {
  height: 300px;
}
.main_photos div:nth-child(2) div:nth-child(odd) {
  background-color: #dddddd;
}
.main_photos div:nth-child(2) div:last-child {
  background-color: #838383;
}
.main_photos div:nth-child(2) div:nth-child(2) {
  background-color: black;
  color: #fff;
  font-size: 48px;
}
.main_photos div:last-child {
  background-color: #f5f5f5;
}
.main_photos div:last-child div {
  height: 0px;
  padding-top: 46px;
  padding-bottom: 45px;
}
.main_photos div:last-child div a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #8e8e8e;
}
.main_process_content {
  padding-top: 101px;
  padding-bottom: 100px;
}
.main_process_content h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  margin-bottom: 44px;
}
.main_process_content p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #787878;
  margin: 0;
  padding: 0;
  line-height: 0.6;
}
.main_process_content p:first-child {
  padding-bottom: 16px;
}
.main_process_player {
  margin-top: 60px;
  width: 1170px;
  height: 571px;
  background-color: #e9e9e9;
}
.main_process_player_play {
  height: 85px;
  width: 85px;
  background-color: #10c9c3;
  border-radius: 50%;
}
.main_process_player :hover {
  cursor: pointer;
}
.main_process_player_triangle {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 11px solid white;
}
.main_services {
  padding: 103px 0;
  margin: 0;
  background-color: #f5f5f5;
  height: 535px;
}
.main_services .row:first-child {
  padding-bottom: 60px;
}
.main_services_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_services_card h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #191919;
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-top: 31px;
}
.main_services_card span {
  color: #656565;
  font-size: 48px;
}
.main_services_card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #787878;
  margin-top: 23px;
}
.main_services_card_text p:first-child {
  line-height: 24px;
}
.main_services_card_text p {
  margin: 0;
  padding: 0;
}
.main_quotes {
  padding-top: 182px;
  padding-bottom: 60px;
  background-color: #10c9c3;
}
.main_quotes h3, .main_quotes h4 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.main_quotes h4 {
  font-size: 12px;
  margin-top: 32px;
  margin-bottom: 0;
}
.main_quotes_pagination {
  margin-top: 111px;
  padding: 0;
}
.main_quotes_pagination li {
  display: inline;
}
.main_quotes_pagination li:not(:last-child) {
  padding-right: 9px;
}
.main_quotes_pagination_item {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #b0e8e6;
  border-radius: 50%;
}
.main_quotes_pagination_item_active {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.main_logos {
  padding-top: 67px;
  padding-bottom: 67px;
}
.main_form {
  background-color: #f5f5f5;
}
.main_form p {
  margin: 0;
}
.main_form h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  line-height: 7.1px;
}
.main_form div > input:last-child {
  margin-left: 30px;
}
.main_form input, .main_form textarea {
  border-style: none;
  padding: 12px 14px;
  width: 320px;
  margin-bottom: 30px;
}
.main_form ::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}
.main_form input:not(div > input) {
  width: 100%;
}
.main_form_content {
  padding-top: 110px;
  padding-bottom: 100px;
}
.main_form_content form {
  margin-top: 41px;
  width: 670px;
}
.main_form_content form button {
  margin: 0;
}
.main_form_content form textarea {
  resize: none;
  width: 100%;
  height: 170px;
}
.main_footer {
  background-color: black;
  padding: 104px 0px;
}
.main_footer_lists {
  color: #bcbcbc;
}
.main_footer_lists ul:nth-child(2) {
  margin-left: 70px;
}
.main_footer_lists ul:nth-child(3) {
  margin-right: -170px;
}
.main_footer_lists ul:nth-child(5) {
  margin-left: -90px;
}
.main_footer_lists ul {
  padding: 0;
  margin: 0;
}
.main_footer_lists a {
  color: #bcbcbc;
  text-decoration: none;
}
.main_footer_lists h6 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.main_footer_lists li {
  font-size: 15px;
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
}

.home {
  padding-bottom: 37px;
}
.home_nav {
  margin-left: 51px;
  margin-top: 33px;
}
.home_nav .active {
  color: #1ca8c3;
}
.home_nav a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.home_logo {
  top: 38px;
  position: absolute;
  left: 147px;
}
.home_main_content {
  padding: 100px 0px;
}
.home_main_content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 35px;
}
.home_main_content p {
  letter-spacing: 0.1px;
  font-family: "Nunito Sans", sans-serif;
  color: #787878;
  font-size: 18px;
  margin: 0;
}
.home_photos div:first-child {
  height: 300px;
}
.home_photos div:first-child div:nth-child(even) {
  background-color: #dddddd;
}
.home_photos div:first-child div:nth-child(odd) {
  background-color: #838383;
}
.home_photos div:nth-child(2) {
  height: 300px;
}
.home_photos div:nth-child(2) div:nth-child(odd) {
  background-color: #dddddd;
}
.home_photos div:nth-child(2) div:last-child {
  background-color: #838383;
}
.home_photos div:nth-child(2) div:nth-child(2) {
  background-color: #21bfb9;
  color: #fff;
  font-size: 48px;
}
.home_photos div:last-child {
  height: 300px;
}
.home_photos div:last-child div:nth-child(even) {
  background-color: #dddddd;
}
.home_photos div:last-child div:nth-child(odd) {
  background-color: #838383;
}

/*# sourceMappingURL=index.css.map */
